{% extends 'base.html' %}
{% block title %} About Page {% endblock %}

{% block body %}

<div class="col-sm-6 " style=" text-shadow:5px 5px 25px red;">
            <h1 align="center">WELCOME TO GLI AGRA</h1>
            <p><b>Government Leather Institute </b> is located at Agra, the Historical city of Mughal Emperors. where
                apart from Taj Mahal, the biggest shoe industry of Asia is also located. This institute was setup in the
                year 1962 for trainning in two branches of technology (Diploma in Leather Technology and Diploma in
                Footwear & leather goods Technology).
                To provide adequate technically trainned manpower to the Leather and Footwear industry of Agra Both the
                courses were intended for 2 years duration, which was subsequently changed to 3 years course w.e.f. 1983
                as per the need of the industry with revised curriculum and increased intake for both.
                At Present there are three years diploma courses are running which are following :<br/>
                1. Leather Techonology ( Tanning ),<br/> 2. Leather Techonology Footwear ( CASD ),<br/> 3. Computer Science &
                Engineering.</p>
        </div>
         {% include 'footer.html' %}
{% endblock %}